body {
  padding: 0;
  margin: 0;
  background: #e3e5e6;
  font-family: "Cairo", sans-serif;
  overflow: hidden;
  color: #2C3A47;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  z-index: 2;
  margin-bottom: 20px;
}

.links {
  background-color: #2d3436;
  text-align: right;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links ul {
  margin: 0;
  padding: 0;
}

.links a {
  color: #fff;
  -webkit-transition: .2s color;
  transition: .2s color;
}

.links a:hover {
  color: #c5c5c5;
}

.links li {
  display: inline-block;
  padding: 0 15px;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang h5 {
  margin: 0 10px;
}

.navbar {
  position: relative;
  z-index: 100;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000a3;
}

.navbar li {
  margin: 0 10px;
  padding: 10px;
  height: 30px;
  border-bottom: transparent 3px solid;
  position: relative;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.navbar li:hover:not(.borderless) {
  border-bottom: #41abff 3px solid;
}

.navbar li:before {
  content: "";
  height: 1.375rem;
  width: .09rem;
  background-color: #cfdadc;
  display: block;
  right: -10px;
  position: absolute;
  top: 30%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 650px) {
  .navbar ul {
    display: none;
  }
}

.navbar a {
  color: #fff;
  -webkit-transition: .5 all;
  transition: .5 all;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media (max-width: 1000px) {
  .logo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  margin: auto;
}

.logo img {
  width: 155px;
  height: auto;
}

.ad-wide {
  margin: auto;
  border: 2px dashed black;
}

@media (max-width: 1000px) {
  .ad-wide {
    width: 100%;
  }
}

.card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.card h3 {
  padding: 0 5px;
}

.card a {
  color: #2C3A47;
}

@media (max-width: 700px) {
  .headlines .card-medium {
    width: 49%;
    height: 350px;
    font-size: 15px;
  }
}

.card-large {
  width: 100%;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 590px) {
  .card-large {
    height: 150px;
  }
}

@media (max-width: 450px) {
  .card-large {
    height: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-large img {
  width: auto;
  height: 100%;
}

@media (max-width: 450px) {
  .card-large img {
    width: 100%;
    height: auto;
  }
}

.card-medium {
  width: 320px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-medium img {
  width: 100%;
  height: auto;
}

.card-medium .title-container {
  display: block;
  position: relative;
}

.card-small {
  width: 320px;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .card-small {
    width: 100%;
  }
}

.card-small img {
  width: auto;
  height: 100%;
}

.card-small h3 {
  font-size: 13px;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.double-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 450px) {
  .double-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container {
  width: 1000px;
  margin: auto;
}

@media (max-width: 1000px) {
  .container {
    width: 665px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 97%;
    font-size: 15px;
  }
}

.headlines {
  width: 100%;
  margin: auto;
}

.large-group {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .large-group {
    width: 100%;
  }
}

.large-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .large-group-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ad-tall {
  margin: 20px auto;
  border: 2px dashed black;
}

.indicator {
  text-align: center;
  width: 100%;
  margin: auto;
  white-space: nowrap;
  display: inline-block;
}

.indicator h1:before,
.indicator h1:after {
  content: '';
  width: 15%;
  height: 2px;
  margin: 0 10px;
  background: #009688;
  display: inline-block;
  vertical-align: middle;
}

.small-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.small-group-container div:nth-of-type(4),
.small-group-container div:nth-of-type(5) {
  width: 490px;
}

.small-group-container div:nth-of-type(4) .card-small,
.small-group-container div:nth-of-type(5) .card-small {
  width: 100%;
}

@media (max-width: 1000px) {
  .small-group-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .small-group-container div:nth-of-type(4) {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
  }

  .small-group-container div:nth-of-type(5) {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-top: 0;
    width: 100%;
  }
}

.dropdown ul {
  position: absolute;
  padding: 0;
  background: #55E6C1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest img {
  height: 50%;
}

.mobile-nav-container {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .mobile-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.latest .owl-carousel {
  width: 990px;
  margin: auto;
}

.owl-item {
  width: 320px !important;
}

.logo-scrolled {
  display: none;
}

.logo-scrolled img {
  width: 45px;
  position: relative;
  top: 45px;
  -webkit-animation: .2s logoShow forwards;
          animation: .2s logoShow forwards;
}

.mobile-logo img {
  width: 45px;
  position: relative;
  padding: 5px;
  opacity: 0;
  display: none;
}

@-webkit-keyframes logoShow {
  from {
    top: 45px;
  }

  to {
    top: 0px;
  }
}

@keyframes logoShow {
  from {
    top: 45px;
  }

  to {
    top: 0px;
  }
}

.navbar-scrolled {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}

.leagues-rank-container {
  background-color: #bbb8b2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5))), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light,screen;
  padding-bottom: 20px;
}

.leagues-rank-container a {
  color: #2C3A47;
}

.leagues-rank {
  margin: auto;
  width: 750px;
}

@media (max-width: 1000px) {
  .leagues-rank {
    width: 100%;
  }
}

.leagues-rank button {
  font-family: "Cairo", sans-serif;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2C3A47;
  color: #55E6C1;
  border: none;
  cursor: pointer;
  width: 160px;
  padding: 10px;
  margin: 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.leagues-rank table {
  width: 100%;
}

.league-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.league-btn-container img {
  width: 30px;
}

.tables-container {
  background: #f5f6fa;
  padding: 20px;
}

.tables-container img {
  width: 25px;
  height: 25px;
}

.tables-container td {
  padding: 0 20px;
  text-align: center;
}

.tables-container td:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tables-container tr:nth-child(even) {
  background: #d8d8d8;
}

.tables-container thead {
  background: #565656;
  color: #f5f6fa;
}

.active-tab {
  background: #f5f6fa !important;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #6D214F !important;
}

footer {
  width: 100%;
  position: relative;
  background-image: url("/images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

@media (max-width: 500px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer a {
  color: #f5f6fa;
}

footer li {
  margin: 0 10px;
}

#overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 110;
  background-color: #fff;
}

.loader {
  background-image: url("/images/25.gif");
  background-repeat: no-repeat;
  margin: auto;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.mobile-sidebar {
  position: absolute;
  height: 100vh;
  left: -250px;
  width: 250px;
  direction: rtl;
  display: none;
  top: 52px;
  background: #000000a3;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.mobile-sidebar ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-sidebar li {
  width: 100%;
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.mobile-sidebar li:hover {
  border-bottom: none !important;
  background: #41abff;
  color: #f5f6fa;
}

@media (max-width: 650px) {
  .mobile-sidebar {
    display: inline-block;
  }
}

.mobile-sidebar-show {
  left: 0;
}

.copyright {
  text-align: center;
  color: #fff;
}

.article-meta {
  background: #fff;
  padding: 10px;
}

.article-meta p {
  margin: 0;
  font-size: 14px;
}

.article-meta span {
  background: #009688;
  border-radius: 30px;
  padding: 0 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.double-card .card-container {
  width: 320px;
}

@media (max-width: 700px) {
  .double-card .card-container {
    width: 49%;
  }
}

@media (max-width: 450px) {
  .double-card .card-container {
    width: 100%;
  }
}

.double-card .card-medium {
  width: 100%;
}

.card-container {
  margin-bottom: 20px;
}

.card-container a {
  color: #2C3A47;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #484848;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.suggestions {
  width: 320px;
}

@media (max-width: 1000px) {
  .suggestions {
    width: 100%;
    margin: auto;
  }
}

.article-box-container {
  margin: auto;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .article-box-container {
    width: 96%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article-box-container .adv {
  height: 400px;
}

.article-box {
  width: 660px;
}

@media (max-width: 1000px) {
  .article-box {
    width: 100%;
    margin: auto;
  }
}

.white-box {
  background: #fff;
}

.white-box p {
  font-size: 1.125rem;
  padding: 20px;
  text-align: justify;
  margin: 0;
}

@media (max-width: 1000px) {
  .white-box p {
    font-size: 16px;
  }
}

.white-box h2 {
  padding: 20px;
  margin: 0;
}

.white-box hr {
  margin: 0;
}

.white-box .article-meta {
  padding: 0;
}

.white-box img {
  width: 100%;
}

.facebook-box {
  margin: 20px 0;
  padding: 20px;
}

.small-indicator {
  font-size: 13px;
}

hr {
  border: 0;
  height: 1px;
  background: #c7c7c7;
}

.article-meta p {
  font-size: 14px;
}

.article-meta svg {
  margin: 0 5px;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe {
  width: 100% !important;
}

.leagues-page-table {
  width: 100%;
  border-collapse: collapse;
}

.leagues-page-table tr,
.leagues-page-table td,
.leagues-page-table table {
  border: 1px solid #e3e5e6;
}

.leagues-page-table tr {
  background: #fff;
}

.leagues-page-table td a {
  padding: 5px 10px;
  display: block;
}

.sub-alert {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 30px rgba(0, 0, 0, 0.5);
  right: 0;
  height: 180px;
  z-index: 1;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dad4ec), color-stop(1%, #dad4ec), to(#f3e7e9));
  background-image: linear-gradient(to bottom, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.sub-alert button {
  border: none;
  color: white;
  width: 100px;
  font-weight: bold;
  height: 35px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Cairo", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#cc208e), to(#6713d2));
  background-image: linear-gradient(to right, #cc208e 0%, #6713d2 100%);
  margin: 0 20px;
}

.sub-alert p {
  font-size: 25px;
}

.sub-alert input {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-family: "Cairo", sans-serif;
  border: none;
  padding: 0 10px;
  width: 200px;
  height: 35px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-heading {
  color: #fff;
  padding: 0 10px;
}

.bottom-video-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.triple-video-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.double-video-small-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-card {
  position: relative;
  overflow: hidden;
}

.large-video-card {
  width: 410px;
  height: 360px;
  margin: 0 10px;
}

.small-video-card {
  width: 200px;
  height: 175px;
  margin-bottom: 10px;
}

.video-thumbnail-container img {
  width: auto;
  height: 100%;
}

.video-thumbnail-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-thumbnail-container:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  -webkit-transition: .2s opacity;
  transition: .2s opacity;
  right: 0;
}

.watch-button {
  border-radius: 20px;
  height: auto;
  padding: 2px 15px;
  text-align: center;
  background: #f5f6fa;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  color: #2C3A47;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.watch-button:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  border: 1px dashed white;
}

.title-n-button svg {
  margin: 0 5px;
  color: #41abff;
}

.title-n-button span {
  margin: 0 5px;
}

.title-n-button {
  position: absolute;
  padding: 15px 10px;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-n-button h3 {
  color: #f5f6fa;
  font-size: 15px;
}

.large-video-card .title-n-button h3 {
  font-size: 1.17em;
}

.more-vids-btn {
  background: #41abff;
  border-radius: 5px;
  color: #2C3A47;
  margin: 20px auto;
  padding: 0 50px;
  cursor: pointer;
  height: 50px;
  -webkit-box-shadow: 0 5px;
          box-shadow: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  white-space: nowrap;
}

.more-vids-btn img {
  width: 30px;
}

.more-vids-btn:active {
  background: #358bd0;
  -webkit-box-shadow: 0 -5px;
          box-shadow: 0 -5px;
}

.more-vids-btn h2 {
  margin: 0;
  display: inline-block;
}

.videos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 830px;
}

@media (max-width: 830px) {
  .triple-video-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .large-video-card {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px;
  }

  .videos-container {
    width: 410px;
  }

  .double-video-small-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bottom-video-card-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 430px) {
  .videos-container {
    width: 80%;
  }

  .small-video-card {
    width: 49%;
    height: 133px;
    font-size: 12px;
  }

  .watch-btn {
    padding: 2px 10px;
  }

  .title-n-button h3 {
    font-size: 13px;
  }

  .large-video-card {
    height: 260px;
    width: 100%;
  }
}

.showroom-suggestions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #354756;
  padding: 10px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.showroom-container {
  max-width: 900px;
  background: #10161b;
  margin: auto;
}

.video-meta {
  padding: 10px;
  background: #10161b;
  color: #fff;
}

.video-meta svg {
  margin: 0 5px;
}

.video-meta p {
  margin: 0;
  font-size: 13px;
}

.video-meta span {
  background: #009688;
  border-radius: 30px;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.other-videos {
  color: #354756;
  padding: 0 10px;
}

.arabic-layout {
  direction: rtl;
}

.score {
  background: #4e4e4e;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 13px;
  margin: 0 5px;
}

.match-time {
  font-size: 15px;
  background: #e6e7ec;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 5px;
}

.vs {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 5px;
  color: gray;
}

.matches-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .matches-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.match-box {
  background: #fff;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  min-width: 300px;
}

@media (max-width: 1000px) {
  .match-box {
    width: 100%;
    margin: 10px 0;
  }
}

.matches-league-name {
  padding: 0 10px;
  border-bottom: rgba(58, 141, 255, 0.5) 1px dashed;
}

.matches-container {
  background: #efefef;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.score-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.ranking-table-team span {
  font-size: 2.5vh;
}

@media (max-width: 1000px) {
  .owl-dots {
    display: none;
  }
}

